[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #539bf5;
  --md-accent-fg-color: #539bf5;

  --md-default-fg-color--light: #adbac7;

  --md-text-font-family: "-apple-system,BlinkMacSystemFont", "Segoe UI",
    "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji";

  --md-code-font-family: "Consolas", "SFMono-Regular", "Consolas", "Menlo",
    "monospace";

  --md-default-fg-color: #adbac7;
  --md-primary-fg-color: #161b22;
  --md-default-bg-color: #0d1117;

  --md-footer-bg-color: #0d1117;
  --md-footer-bg-color--dark: #161b22;

  --md-code-bg-color: #161b22;

  --md-code-hl-string-color: #D69D85;

  --md-code-hl-comment-color: #A3DA8D;

  --md-code-hl-variable-color: #56b6c2;

  --md-code-hl-punctuation-color: #deb887;

  --md-code-hl-operator-color: #5f9ea0;
}

html {
  font-size: 125%;
}

.body-wrap {
  background: #0d1117;
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__item {
    border-top: none;
    padding: 0;
  }
}

.md-footer-meta__inner.md-grid {
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.md-copyright {
  text-align: center;
}

.md-social {
  text-align: center;
  padding: 0px;
}

.md-container{
  overflow-x: hidden;
}

/*
539bf5
121c26
121c26
*/
