html {
  font-size: 125%;
}



:root {


  --md-code-font-family: "Consolas", "SFMono-Regular", "Consolas", "Menlo",
    "monospace";

  --github-dark-color-1: #0d1117;
  --github-dark-color-2: #161b22;
  --github-dark-color-3: #539bf5;
  --github-dark-color-txt: #adbac7;

  --dark-color-1: #082032;
  --dark-color-2: #2c394b;
  --dark-color-3: #334756;
  --dark-color-4: #ff4c29;

  --light-color-3: #2c394b;
  --light-color-2: #fdfdfd;
  --light-color-1: #334756;
  --light-color-4: #ff4c29;

  --light-txt: #082032;
  --dark-txt: #fdfdfd;
}

[data-md-color-scheme="slate"] {
  /*link color*/
  --md-typeset-a-color: var(--dark-color-4);
  --md-accent-fg-color: var(--dark-color-4);

  --md-default-fg-color--light: var(--dark-txt);

  /*nav background color in tablet/mobile view*/
  --md-default-fg-color--lightest: var(--dark-color-1);
  --md-primary-fg-color--dark: var(--dark-color-1);

  --md-default-fg-color: var(--dark-txt);
  --md-primary-fg-color: var(--dark-color-1);
  --md-default-bg-color: var(--dark-color-2);

  --md-footer-bg-color: var(--dark-color-2);
  --md-footer-bg-color--dark: var(--dark-color-1);

  /*code highlights*/
  --md-code-bg-color: var(--dark-color-1);
  --md-code-hl-string-color: #d69d85;
  --md-code-hl-comment-color: #a3da8d;
  --md-code-hl-variable-color: #56b6c2;
  --md-code-hl-punctuation-color: #deb887;
  --md-code-hl-operator-color: #5f9ea0;

  --scrollbar-color: var(--dark-color-1);

  /*nav header text color in tablet/mobile view*/
  --nav-color-header: var(--dark-txt);

  --code-border-color: var(--dark-color-3);
}

[data-md-color-scheme="default"] {
  --md-typeset-a-color: var(--light-color-4);
  --md-accent-fg-color: var(--light-color-4);

  --md-primary-fg-color--dark: var(--light-color-1);

  --md-default-fg-color--lightest: var(--light-color-1);

  --md-default-fg-color--light: var(--light-txt);

  /* --md-default-fg-color: #adbac7; */
  --md-default-fg-color: var(--light-txt);
  --md-primary-fg-color: var(--light-color-1);
  --md-default-bg-color: var(--light-color-2);

  --md-footer-fg-color: var(--light-txt);
  --md-footer-bg-color: var(--light-color-2);
  --md-footer-bg-color--dark: var(--light-color-1);

  --scrollbar-color: var(--light-color-1);

  --nav-color-header: var(--light-color-2);

  --code-border-color: var(--github-dark-color-txt);

    
}

.md-typeset pre>code {
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2) !important;
  border: 2px solid var(--code-border-color)
}


.md-typeset code {
  border-radius: 4px;
  border: 1px solid var(--code-border-color);
  
}

/* width */
.md-typeset pre>code::-webkit-scrollbar {
  /* width: 10px; */
}

/* Track */
.md-typeset pre>code::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
  border-radius: 8px;

}
 
/* Handle */
.md-typeset pre>code::-webkit-scrollbar-thumb {
  background: var(--code-border-color); 
  border-radius: 8px !important;

}

.md-typeset img{
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4) !important; 
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__item {
    border-top: none;
    padding: 0;
  }
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__item .md-nav__link {
    padding: 0.6rem 0.6rem;
  }
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title {
    color: var(--nav-color-header);
  }
}


@media screen and (max-width: 44.9375em){
  .md-content__inner>.highlight{
    display: contents;
  }
}

@media screen and (max-width: 44.9375em){
  .md-content__inner>.highlight code{
    border-radius: 8px;
  }

}

.md-typeset .tabbed-labels{
  box-shadow: none;
}

.md-footer-meta__inner.md-grid {
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.md-copyright {
  text-align: center;
}

.md-social {
  text-align: center;
  padding: 0px;
}

.md-container {
  overflow-x: hidden;
}

.custom-img-container p img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border: 4px solid var(--dark-color-1);
  background: var(--dark-color-1);
  border-radius: 50%;
}

/*
539bf5
121c26
121c26
*/
